.section {
  position: relative;
  background-color: #FF6D2C;
  padding: 22px 0 16px;
  z-index: 10;
  backface-visibility: hidden;
}

.title {
  font-family: 'Courier New', Courier, monospace;
  font-size: 10px;
  line-height: 1;
  margin-bottom: 12px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #fff;
}

.content {
  overflow: hidden;
  position: relative;
  height: 100px;
}

.list {
  position: absolute;
  top: 50%;
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  transform: translateY(-50%);

}

.item {
  display: inline-block;
  flex-shrink: 0;
  font-family: 'austin-lite';
  font-size: 50px;
  line-height: 0.9;
  margin-right: 5px;
  margin-bottom: 0;
  color: #fff;
}

.item:after {
  content: ', ';
}

.item:last-of-type:after {
  content: '';
}

@keyframes marquee {
  /* 0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  } */
}

@media (min-width: 768px) {
  .section {
    padding: 45px 0 20px;
  }

  .title {
    font-size: 12px;
    line-height: 1.15;
    margin-bottom: 30px;
  }

  .item {
    font-size: 70px;
    line-height: 1;
  }

  .item:first-of-type {
    padding-left: 40px;
  }

  .item:last-of-type {
    padding-right: 40px;
  }
}

@media (min-width: 1024px) {
  .section {
    padding: 98px 0 94px;
  }

  .title {
    font-size: 15px;
  }

  .item {
    font-size: 94px;
    margin-right: 25px;
  }
}
