.menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  z-index: 10;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.25s ease-out, visibility 0s linear 0.3s;
}

.open {
  opacity: 1;
  z-index: 1;
  visibility: visible;
  transition: opacity 0.25s ease-out 0.1s, visibily 0s linear;
}

.nav,
.smallNav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav {
  flex-direction: column;
  margin-top: auto;
  margin-bottom: auto;
}

.smallNav {
  flex-direction: row;
  margin-top: 0;
  margin-bottom: 50px;
}

.link,
.smallLink {
  font-family: 'venus';
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  letter-spacing: 0.2em;
}

.link {
  position: relative;
  font-size: 20px;
  margin-bottom: 26px;
  font-size: 15px;
}

.link:after {
  content: '';
  height: 3px;
  width: 100%;
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  top: 40%;
  transform: translateY(-50%);
  transition: width 0.25s ease-out;
  background-color: #ff6d2c;
  width: 0%;
}

.active:after {
  width: 100%;
}

.link:last-of-type {
    margin-bottom: 0;
}

.smallLink {
  font-size: 10px;
  margin-bottom: 0;
  margin-left: 10px;
  margin-right: 10px;
}

.smallLink .link {
  margin-bottom: 0;
}

@media (min-width: 1024px) {
  .menu {
    display: none;
  }
}
