.bioWrap {
    position: relative;
    height: 100%;
}

.bio {
    position: relative;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.bioCopy {
    position: absolute;
    bottom: 15px;
    left: 20px;
    right: 20px;
    color: #fff;
}

.name,
.desc,
.bioLink {
    font-weight: 200;
}

.name,
.desc {
    font-family: 'austin-lite';
}

.name {
    font-size: 35px;
    margin-bottom: 0;
}

.title {
    display: block;
    font-family: 'venus';
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 12px;
    letter-spacing: 3px;
}

.desc {
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.05em;
    margin-bottom: 0;
}

.bioLink {
    position: relative;
    display: inline-block;
    font-family: 'venus';
    text-transform: uppercase;
    margin-right: 20px;
    text-decoration: none;
    color: #fff;
    margin-top: 10px;
    font-size: 12px;
    letter-spacing: 0.3em;
    cursor: pointer;
}

.bioLink:after {
    content: '';
    height: 3px;
    width: 100%;
    position: absolute;
    top: 48%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    transition: width 0.25s ease-out;
    background-color: inherit;
    width: 0%;
  }

  .bioLink:hover:after {
    width: 100%;
  }

  .bioLink:after {
    background-color: #fff;
  }