.bioWrap {
    position: relative;
    height: 100%;
}

.bio {
    position: relative;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.bioCopy {
    position: absolute;
    bottom: 15px;
    left: 20px;
    right: 20px;
    color: #fff;
}

.name,
.desc,
.bioLink {
    font-weight: 200;
}

.name,
.desc {
    font-family: 'austin-lite';
}

.name {

    Font-size: 12px;
    margin-bottom: 0;
}

.title {
    display: block;
    font-size: 10px;
    font-family: 'venus';
    text-transform: uppercase;
    margin-bottom: 10px;
}

.desc {
    font-size: 16px;
    line-height: 20px;
    font-style:  italic;
    letter-spacing: 0.05em;
    margin-bottom: 0;
}

.bioLink {
    display: inline-block;
    font-family: 'venus';
    text-transform: uppercase;
    margin-right: 20px;
    text-decoration: none;
    color: #fff;
    margin-top: 10px;
    font-size: 12px;
    letter-spacing: 0.3em;
}

@media (min-width: 768px) {

}

@media (min-width: 1024px) {
    .name {
        font-size: 25px;
    }

    .desc {
        font-size: 12px;
        line-height: 16px;
    }

}