.bioWrap {
    position: relative;
    height: 100%;
}

.bio {
    position: relative;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.bioCopy {
    position: absolute;
    bottom: 15px;
    left: 20px;
    right: 20px;
    color: #fff;
}

.name,
.desc,
.bioLink {
    font-weight: 200;
}

.name,
.desc {
    font-family: 'austin-lite';
}

.name {
    font-size: 35px;
    margin-bottom: 0;
}

.title {
    display: block;
    font-family: 'venus';
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 12px;
    letter-spacing: 3px;
}

.desc {
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.05em;
    margin-bottom: 0;
}

.bioLink {
    display: inline-block;
    font-family: 'venus';
    text-transform: uppercase;
    margin-right: 20px;
    text-decoration: none;
    color: #fff;
    margin-top: 10px;
    font-size: 12px;
    letter-spacing: 0.3em;
}