
@font-face {
    font-family: 'austin';
    src: url('austin-text-roman.woff');
    src: url('austin-text-roman.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'austin';
    src: url('austin-text-italic.woff');
    src: url('austin-text-italic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'venus';
    src: url('VenusSB-MediumExtended.eot');
    src: url('VenusSB-MediumExtended.eot?#iefix') format('embedded-opentype'),
        url('VenusSB-MediumExtended.woff2') format('woff2'),
        url('VenusSB-MediumExtended.woff') format('woff'),
        url('VenusSB-MediumExtended.ttf') format('truetype'),
        url('VenusSB-MediumExtended.svg#VenusSB-MediumExtended') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'pitch';
    src: url('Pitch-Regular.eot');
    src: url('Pitch-Regular.eot?#iefix') format('embedded-opentype'),
        url('Pitch-Regular.woff2') format('woff2'),
        url('Pitch-Regular.woff') format('woff'),
        url('Pitch-Regular.ttf') format('truetype'),
        url('Pitch-Regular.svg#Pitch-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

