
@font-face {
    font-family: 'austin';
    src: url('austin-text-roman.woff');
    src: url('austin-text-roman.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'austin';
    src: url('austin-text-italic.woff');
    src: url('austin-text-italic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'austin-lite';
    src: url('austin-light.woff');
    src: url('austin-light.woff') format('woff');
    font-weight: 300;
}

@font-face {
    font-family: 'venus';
    src: url('VenusSB-MediumExtended.eot');
    src: url('VenusSB-MediumExtended.eot?#iefix') format('embedded-opentype'),
        url('VenusSB-MediumExtended.woff2') format('woff2'),
        url('VenusSB-MediumExtended.woff') format('woff'),
        url('VenusSB-MediumExtended.ttf') format('truetype'),
        url('VenusSB-MediumExtended.svg#VenusSB-MediumExtended') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Suisse';
    src: url('SuisseIntl-Light-WebM.eot');
    src: url('SuisseIntl-Light-WebM.woff2') format('woff2'),
         url('SuisseIntl-Light-WebM.ttf') format('truetype'),
         url('SuisseIntl-Light-WebM.svg#SuisseIntl-Light-WebM') format('svg'),
         url('SuisseIntl-Light-WebM.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}
