.section {
  position: relative;
  width: 100vw;
  height: calc(100vh - 70px);
  overflow: hidden;
  width: 100vw;
  top: 30px;
  bottom: 0;
  left: 0;
  right: 0;
  backface-visibility: hidden;
}

.slide {
  position: relative;
  float: left;
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.caption {
  position: absolute;
  right: 15px;
  left: 15px;
  margin: 0 auto;
  top: 15px;
  font-size: 10px;
  text-align: center;
}

.credit {
  font-family: 'Courier New', Courier, monospace;
  font-weight: 200;
  text-transform: uppercase;
  font-size: 10px;
  color: #fff;
  letter-spacing: 0.1em;
  text-decoration: none;
}

.title {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
  right: 20px;
  max-width: 100%;
  z-index: 1;
  font-size: 26px;
  line-height: 1.2;
  color: #fff;
  margin-bottom: 0;
}


.downArrow {
  display: block;
  position: absolute;
  bottom: 30px;
  right: 20px;
  width: 28px;
  height: 28px;
  background-color: transparent;
  transform: rotate(45deg);
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  animation: bounce 4s infinite;
}

@keyframes bounce {
  0% {
    transform: translateY(0) rotate(45deg);
  }
  60% {
    transform: translateY(-10px) rotate(45deg);
  }
  100% {
    transform: translateY(0) rotate(45deg);
  }
}

@media (min-width: 768px) {
  .title {
    left: 5%;
    right: 5%;
  }

  .copy,
  .copy span {
    font-size: 40px;
    line-height: 1.125;
  }

  .copy {
    bottom: 35px;
    left: 45px;
    right: 45px;
  }

  .downArrow {
    bottom: 50px;
    right: 40px;
    width: 60px;
    height: 60px;
  }

  .credit {
    font-size: 12px;
  }
}

@media (min-width: 1024px) {
  .section {
    height: calc(100vh - 70px);
    width: 100vw;
    top: 0;
  }

  .caption {
    display: block;
    bottom: 100px;
    left: auto;
  }

  .copy {
    top: 50%;
    bottom: auto;
    left: 55px;
    right: 55px;
    margin-bottom: 90px;
    transform: translateY(-50%);
    max-width: 85%;
    max-width: 1000px;
  }

  .downArrow {
    display: none;
  }
}
