.section {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #fff;
  padding: 34px 20px 60px;
  overflow: hidden;
  z-index: 10;
  backface-visibility: hidden;
}

.inner {
  max-width: 980px;
  margin: auto;
  will-change: transform, opacity;
}

.title {
  font-family: 'austin-lite';
  font-size: 15px;
  line-height: 1;
  margin-bottom: 24px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 200;
}

.clientList {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.clientList li {
  display: inline-block;
}

.cta {
  margin-top: 50px;
  font-size: 14px;
  line-height: 20px;
  font-family: 'austin-lite', Times, serif;
  text-align: center;
}

.cta a {
  color: #000;
}

@media (min-width: 768px) {
  .section {
    padding: 115px 40px 90px;
    box-sizing: content-box;
  }

  .title {
    font-size: 12px;
    margin-bottom: 20px;
  }

  .cta {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1024px) {
  .section {
    min-height: 100vh;
    padding: 148px 55px 130px;
  }

  .title {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 30px;
  }
}

@media (min-width: 1200px) {
  .section {
    padding-top: 108px;
    padding-bottom: 140px;
    margin-left: auto;
    margin-right: auto;
  }
}
