.section {
  position: relative;
  background-color: #fff;
  color: #000;
  z-index: 10;
  backface-visibility: hidden;
}

.hero {
  position: relative;
  height: 400px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(http://placehold.it/1200x700?text=1200x700);
}

.title {
  display: block;
  width: 100%;
  max-width: 40%;
  padding-top: 42px;
  margin-left: auto;
  margin-right: auto;
  transition: max-width 0.25s ease-out;
}

.contentInner {
  padding: 32px;
}

.contentInner a {
  color: #000;
  text-decoration: none;
}

.copy {
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .hero {
    height: 700px;
  }

  .title {
    max-width: 150px;
    padding-top: 60px;
  }

  .contentInner {
    padding: 40px 40px 50px;
  }

  .copy {
    margin-bottom: 32px;
    font-size: 25px;
    line-height: 40px;
  }

}

@media (min-width: 1024px) {
  .section {
    min-height: 100vh;
  }

  .title {
    padding-top: 200px;
    max-width: 400px;
  }

  .content {
    padding: 100px;
    min-height: calc(100vh - 700px);
  }

  .content p {
    font-size: 24px;
    line-height: 1.6;
  }
}
