.content {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    color: #000;
}

.white,
.white .copy {
    color: #fff;
}

.whiteFill svg {
    fill: #fff;
}

.center {
    text-align: center;
}

.ttu {
    text-transform: uppercase;
}

.copy {
    font-family: 'austin-lite', serif;
    font-size: 30px;
    line-height: 35px;
}

.copy:last-of-type:not(:first-of-type) {
    margin-bottom: 0;
}

.copySmall {
    font-size: 16px;
    line-height: 24px;
    font-weight: 200;
}

.introCopy {
    font-size: 14px;
    line-height: 21px;
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
}

.introCopy span {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}


.intro {
    font-family: 'austin-lite', serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    font-size: 15px;
    line-height: 2;
}

.max650 {
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 768px) {
    .copy {
        font-size: 40px;
        line-height: 45px;
    }

    .intro {
        font-size: 20px;
        line-height: 35px;
    }
}

@media (min-width: 1024px) {

    .title {
        margin-bottom: 70px;
    }

    .copySmall,
    .copy {
        font-size: 40px;
        line-height: 50px;
        margin-bottom: 110px;
    }

    .smallCopy {
        font-size: 22px;
        line-height: 30px;
    }

    .intro {
        font-size: 20px;
        line-height: 35px;
    }

    .introLg {
        font-family: 'austin-lite';
        font-size: 70px;
        line-height: 80px;
        text-transform: inherit;
        letter-spacing: inherit;
    }
}