.content {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.white {
    color: #fff;
}

.center {
    text-align: center;
}

.ttu {
    text-transform: uppercase;
}


.copy {
    font-size: 20px;
    line-height: 24px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 200;
}

@media (min-width: 1024px) {

    .title {
        margin-bottom: 70px;
    }

    .copy {
        font-size: 40px;
        line-height: 50px;
        margin-bottom: 110px;
    }

    .smallCopy {
        font-size: 22px;
        line-height: 30px;
    }
}