.row {
  padding-top: 12px;
  padding-bottom: 18px;
  border-top: 1px solid #fff;
  will-change: transform, opacity;
  color: #fff;
}

.row:last-of-type {
  border-bottom: 1px solid #fff;
}

.rowTitle {
  margin-bottom: 0;
  font-family: 'austin-lite';
  font-size: 50px;
  font-weight: 400;
  line-height: 1;
  color: #fff;
}

.smallText {
  font-family: 'Courier New', Courier, monospace;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-size: 15px;
  line-height: 1.6;
  font-weight: 200;
  color: #fff;
}

.flex {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.list li {
  margin-bottom: 0;
  font-size: 15px;
  line-height: 1.6;
  font-weight: 200;
}

.button {
  display: inline-block;
  padding: 8px 16px;
  border-radius: 25px;
  border: 2px solid transparent;
  outline: 0;
  font-family: 'venus';
  font-size: 10px;
  line-height: 1;
  letter-spacing: 0.2em;
  background-color: #fff;
  color: #000;
  appearance: none;
  text-transform: uppercase;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
  cursor: pointer;
  margin-top: 25px;
}

.button:hover,
.button:focus {
  background-color: #FF6D2C;
  color: #fff;
}

.flex {
  display: flex;
  flex-direction: column;
  margin-right: 25px;
}

@media (min-width: 768px) {
  .row {
    padding-top: 30px;
    padding-bottom: 35px;
    border-top: 1px solid #fff;
  }

  .rowTitle {
    font-size: 120px;
  }

  .smallText,
  .list li {
    font-size: 21px;
  }

  .flex {
    width: 100%;
    margin-right: 60px;
  }

  .innerContent {
    margin-top: 40px;
  }
}

@media (min-width: 1024px) {
  .row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 50px;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
  }

  .flex {
    width: 76%;
  }

  .innerContent {
    width: 59%;
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 25px;
  }

  .innerContent + .button {
    display: block;
  }

  .rowTitle {
    font-size: 70px;
  }

  .smallText,
  .list li {
    font-size: 16px;
  }

  .button {
    margin-top: 0;
    font-size: 15px;
  }
}
