.section {
  position: relative;
  padding: 32px 32px 40px;
  background-color: #ff6d2c;
  min-height: 100vh;
  margin-top: 30px;
  backface-visibility: hidden;
}

.content {
  max-width: 1160px;
  margin-left: auto;
  margin-right: auto;
}

.title {
  display: block;
  max-width: 100%;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.copy {
  font-size: 18px;
  line-height: 1.2;
}

.copy span {
  font-family: 'austin', serif;
  font-style: italic;
  font-size: 18px;
  letter-spacing: 0.1em;
}

.button {
  display: table;
  padding: 8px 16px;
  border-radius: 25px;
  border: 2px solid transparent;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  outline: 0;
  font-family: 'venus';
  font-size: 10px;
  letter-spacing: 0.2em;
  background-color: #000;
  color: #ff6d2c;
  appearance: none;
  transition: background-color 0.25s ease-out, color 0.25s ease-out,
    opacity 0.25s ease-out;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  line-height: 1.6;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
  cursor: disabled;
}

.button:active,
.button:hover,
.button:focus {
  background-color: #fff;
  color: #ff6d2c;
}

.message {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  font-size: 12px;
  font-family: 'pitch', 'Courier New', Courier, monospace;
  color: #fff;
  text-align: center;
  bottom: 10px;
}

.message p {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .section {
    padding: 40px 50px 50px;
  }

  .title {
    margin-bottom: 80px;
  }

  .copy {
    font-size: 35px;
    line-height: 0.95;
    margin-bottom: 45px;
  }

  .copy span {
    font-size: 35px;
  }

  .form {
    max-width: 435px;
    margin-left: auto;
    margin-right: auto;
  }

  .label {
    font-size: 12px;
    margin-bottom: 5px;
  }

  .input {
    font-size: 16px;
  }

  .message {
    margin-top: 25px;
    font-size: 16px;
  }
}

@media (min-width: 1024px) {
  .section {
    padding: 200px 20px 100px;
    margin-top: 0;
  }

  .copy,
  .copy span {
    font-size: 40px;
    line-height: 1.125;
  }

  .copy {
    margin-bottom: 150px;
  }

  .form {
    max-width: 580px;
  }

  .button {
    font-size: 15px;
  }
}

@media (min-width: 1200px) {
  .section {
    padding: 200px 40px 150px;
  }

  .copy {
    margin-bottom: 135px;
  }
}
