.section {
  position: relative;
  padding: 32px 32px 40px;
  background-color: #000;
  backface-visibility: hidden;
  z-index: 10;
  color: #fff;
}

@media (min-width: 1024px) {
  .section {
    padding: 200px 20px 100px;
    margin-top: 0;
  }

  .copy,
  .copy span {
    font-size: 40px;
    line-height: 1.125;
  }

  .copy {
    font-weight: 200;
    margin-bottom: 150px;
  }

  .form {
    max-width: 580px;
  }

  .button {
    font-size: 15px;
  }
}

@media (min-width: 1200px) {
  .section {
    padding: 200px 40px 150px;
  }

  .copy {
    margin-bottom: 135px;
  }
}
