.section {
  position: relative;
  padding: 32px 32px 40px;
  background-color: #000;
  backface-visibility: hidden;
  z-index: 10;
  color: #fff;
}

.copy {
  font-family: 'austin-lite', serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
  font-size: 15px;
  line-height: 2;
  margin-bottom: 50px;
}

.title {
  margin-bottom: 50px;
}


@media (min-width: 768px) {
  .section {
    padding: 90px;
  }

  .title {
    margin-bottom: 100px;
  }

  .copy {
    font-size: 20px;
    line-height: 35px;
    margin-bottom: 50px;
  }

  .button {
    font-size: 14px;
  }
}

@media (min-width: 1024px) {
  .section {
    padding: 200px 20px 100px;
    margin-top: 0;
  }

  .title {
    margin-bottom: 120px;
  }

  .copy {
    font-size: 20px;
    line-height: 35px;
    margin-bottom: 50px;
  }

  .button {
    font-size: 15px;
  }
}

@media (min-width: 1200px) {
  .section {
    padding: 200px 40px 150px;
  }
}
