.section {
  position: relative;
  padding: 40px 32px;
  background-color: #1a1a1a;
  backface-visibility: hidden;
  z-index: 10;
  color: #fff;
}

.title {
  display: block;
  margin-bottom: 26px;
  max-width: 78.5%;
  margin-left: auto;
  margin-right: auto;
}



@media (min-width: 768px) {
  .section {
    min-height: 100vh;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 100px;
  }

  .title {
    margin-bottom: 80px;
  }
}

@media (min-width: 1024px) {
  .section {
    padding: 200px 55px 125px;
  }
}
