.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #fff;
  z-index: 100;
  position: absolute;
}

.link {
  position: relative;
  font-family: 'venus';
  font-size: 12px;
  line-height: 1;
  text-decoration: none;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.link:after {
  content: '';
  height: 3px;
  width: 100%;
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  top: 40%;
  transform: translateY(-50%);
  transition: width 0.25s ease-out;
  background-color: inherit;
  width: 0%;
}

.link:hover:after,
.active:after {
  width: 100%;
}

.link:after {
  background-color: #1A1A1A;
}

.group:first-of-type .link {
  margin-right: 36px;
}

.group:last-of-type .link {
  margin-left: 36px;
}

.logo {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 6px;
  margin-left: auto;
  margin-right: auto;
  opacity: 1;
  width: 95px;
  height: 15px;
  transform: scale(1) translateY(-50%);
  z-index: 100;
  top: 50%;
  transition: transform 0.25s ease-out, opacity 0.25s ease-out;
}

.logo svg {
  display: block;
}

.isVisible {
  opacity: 1;
  transform: scale(1);
}

.mobileMenu {
  display: block;
  width: 70px;
  height: 70px;
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.iconInner {
  width: 20px;
  height: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.iconInner span {
  display: block;
  position: absolute;
  height: 2px;
  width: 20px;
  background-color: #000;
  opacity: 1;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

.iconInner span:nth-child(1) {
  top: 2px;
}

.iconInner span:nth-child(2) {
  top: 7px;
}

.iconInner span:nth-child(3) {
  top: 12px;
}

.mobileMenu.open .iconInner {
  height: 15px;
}

.mobileMenu.open .iconInner span:nth-child(1) {
  transform: rotate(45deg);
}

.mobileMenu.open .iconInner span:nth-child(2) {
  transform: rotate(-45deg);
}

.mobileMenu.open .iconInner span:nth-child(1) {
  top: 7px;
}

.mobileMenu.open .iconInner span:nth-child(2) {
  top: 7px;
}

.mobileMenu.open .iconInner span:nth-child(3) {
  opacity: 0;
}

.group,
.desktop {
  display: none;
}

@media (min-width: 1024px) {

  .mobileMenu {
    display: none;
  }

  .desktop {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  .nav {
    display: flex;
    height: 70px;
    box-shadow: 0 2px 16px rgba(0, 0, 0, 0.04);
  }

  .logo {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0%, -50%) scale(0.8);
    width: 225px;
    height: 28px;
    opacity: 0;
    transition: transform 0.25s ease-out, opacity 0.25s ease-out;
  }

  .group {
    display: block;
  }
}

@media (min-width: 1200px) {
  .nav {
    padding-left: 40px;
    padding-right: 40px;
  }
}
